<%= form_for user, url: path do |f| %>
  <p><%= f.label :username, "username" %>
  <%= f.text_field :username %></p><br>

  <p><%= f.label :password, "password" %>
  <%= f.password_field :password %></p><br><br>

  <%= f.submit "log in" %><br>
<% end %>
