<h2>Mentor login</h2>

<%= form_for @mentor, url: mentor_login_path do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %><br><br>

  <%= f.label :password %>
  <%= f.password_field :password %><br><br>

  <%= f.submit "Log In" %>
<% end %>
