<h1><%= current_user.mentor.first_name %></h1>
<h3><%= current_user.mentor.location %></h3>


<img src=<%= current_user.mentor.profile_img %> width="125" height="125">


<h3><%= current_user.mentor.first_name %>'s Programming Languages</h3>
<% if current_user.mentor.languages.empty? %>
  <p><%= current_user.mentor.first_name %> does not have any programming languages added yet.</p>
<% else %>
  <% current_user.mentor.languages.each do |language| %>
  <p><%= language.name %></p>
  <% end %>
<% end %>

<h3>Recently Added Resources</h3>
<% if current_user.resources.empty? %>
  <p><%= current_user.mentor.first_name %> has not added any resources yet.</p>
<% else %>
  <% current_user.mentor.resources.last(5).each do |resource| %>
  <p><%= link_to "#{resource.website} - #{resource.title}", mentor_resource_path(current_user, resource) %></p>
  <% end %>
<% end %>
