<div class="main">
  <h1>add a language to your profile</h1>

  <h3>choose a language from the dropdown menu, or add a new language:</h3>

  <% if !@language.errors.empty? %>
    <div class="error_display">
      <ul>
        <% @language.errors.full_messages.each do |error_msg| %>
          <li><%= error_msg %></li>
        <% end %>
      </ul>
    </div>

    <br>
  <% end %>

  <%= form_for @language do |f| %>
    <%= f.label :id, "select a language" %>
    <%= f.collection_select :id, Language.all, :id, :name, :include_blank => true %><br><br>
    <%= f.label :name,  "or add a new language" %>
    <%= f.text_field :name %><br><br>
    <%= f.submit "add language" %>
  <% end %>

  <% if !current_user.languages.empty? %>
  <br><hr>
    <h3>delete a language from your profile:</h3>

    <%= form_for @language, url: delete_language_path do |f| %>
      <%= f.label :name, "select a language" %>
      <%= f.collection_check_boxes :id, current_user.languages, :id, :name %><br><br>

      <%= f.submit "delete language" %>
    <% end %>
  <% end %>
</div>
