<div class="main">
  <h1> find a coach </h1>

  <% if @available_coaches.empty? %>
    <p>there are no available coaches </p>
  <% else %>
    <div class="Coaches">
      <% @available_coaches.each do |coach| %>
        <div class="Find-coach-card">
          <img src="<%= coach.profile_img %>", alt="<%= coach.username %>'s profile picture" width="100" height="100"><br><br>
          <%= coach.first_name %> <%= coach.last_name %><br>
          <br>
          <h4>location:</h4>
          <%= coach.location %><br>
          <h4>languages:</h4>
          <% coach.languages.each do |language| %>
            <%= language.name %><br>
          <% end %>

          <%= form_tag('/get_coach', method: :post) do %>
            <%= hidden_field_tag 'coach_id', value=coach.id %>
            <%= submit_tag "be my coach" %>
          <% end %>
        </div>
        <br><br>
      <% end %>
    </div>
  <% end %>
</div>
