<div class="main">
  <h1> find a coach </h1>

  <% @available_coaches.each do |coach| %>

    <% if coach.profile_img.empty? %>
      <img src='/images/no-photo.png' width="100" height="100">
    <% else %>
      <img src="<%= coach.profile_img %>", alt="<%= coach.username %>'s profile picture" width="100" height="100">
    <% end %><br>
    <%= coach.first_name %> <%= coach.last_name %><br>
    <%= coach.location %><br>
    <% coach.languages.each do |language| %>
      <%= language.name %><br>
    <% end %>

    <%= form_for @connection do |f| %>
      <%= f.hidden_field :coach_user_id, value: coach.id %>
      <%= f.hidden_field :student_user_id, value: current_user.id %>
      <%= f.submit "be my coach" %>
    <% end %>
    <br><br>
  <% end %>
</div>
