<div class="main">
  <h1> find a coach </h1>

  <% @available_mentors.each do |mentor| %>
    <% if !mentor.profile_img.empty? %>
      <img src="<%= mentor.profile_img %>", alt="<%= mentor.username %>'s profile picture" width="100" height="100">
    <% else %>
      <img src='/images/no-photo.png' width="100" height="100">
    <% end %><br>
    <%= mentor.first_name %> <%= mentor.last_name %><br>
    <%= mentor.location %><br>
    <% mentor.languages.each do |language| %>
      <%= language.name %><br>
    <% end %>

    <%= form_tag(add_mentor_path) do %>
      <%= hidden_field_tag :mentor_id, mentor.id %>
      <%= submit_tag "be my coach" %>
    <% end %>
    <br><br>
  <% end %>
</div>
