<div class="col_1">
  <% if !current_user.profile_img.empty? %>
    <img src=<%= current_user.profile_img %> width="125" height="125">
  <% else %>
    <img src='/images/no-photo.png' width="125" height="125">
  <% end %>
  <h1><%= current_user.username %></h1>
  <h3><%= current_user.location %></h3>

  <br>

  <h3>your programming languages</h3>
  <% if current_user.languages.empty? %>
    <p>You have not added any of your languages yet.</p>
  <% else %>
    <ul>
    <% current_user.languages.each do |language| %>
    <li><%= language.name %></li>
    <% end %>
    </ul>
    <%= link_to "Delete languages", edit_language_path %>
  <% end %>
  <%= link_to "Add language", new_language_path %>
</div>

<div class="recent_resources_col">
  <h3>recently added resources</h3>
  <% if current_user.resources.empty? %>
    <p>You have not added any resources yet.</p>
    <%= link_to "Add Resource", new_mentor_resource_path(current_user) %>
  <% else %>
    <% current_user.resources.last(5).each do |resource| %>
    <p><%= link_to "#{resource.website} - #{resource.title}", mentor_resource_path(current_user, resource) %></p>
    <% end %>
  <% end %>
</div>
