<%# <% if !resource.errors.empty? %>
  <div class="error_display">
    <ul>
      <% resource.errors.full_messages.each do |error_msg| %>
        <li><%= error_msg %></li>
      <% end %>
    </ul>
  </div>

  <br>
<% end %>

<%= form_for resource do |f| %>
  <%= f.label :website, "website (i.e. StackOverflow.com, RubyOnRails.org)" %>
  <%= f.text_field :website %><br><br>

  <%= f.label :title, "resource title" %>
  <%= f.text_field :title %><br><br>

  <%= f.label :url, "link to resource"%>
  <%= f.text_field :url%><br><br>

  <%= f.label :language_id, "language" %>
  <%= f.collection_select :language_id, Language.all, :id, :name, :include_blank => true %><br><br>

  <%= f.label :subfield_id, "choose a subfield" %>
  <%= f.collection_select :subfield_id, Subfield.all, :id, :name, :include_blank => true %><br><br>

  <%= f.label :subfield_id, "or create a new subfield" %>

  <%= f.fields_for :subfield, Subfield.new do |subfields_field| %>
    <%= subfields_field.text_field :name %>
  <% end %><br><br>

  <%= f.hidden_field :mentor_id, value: current_user.id %>

  <%= f.submit submit_text %>
<% end %> %>
