<div class="main">

  <h1>my resources</h1>
  <br><hr><br>

  <% if @resources.empty? %>
    <p>you have not added any resources yet</p>
    <%= link_to "add resource", new_user_resource_path(current_user) %><br>
    <%= link_to "browse top resources", top_resources_path %>
  <% else %>
    <% unless @unread_resources.empty? %>
      <h2>unread resources</h2>
      <% @unread_resources.each_with_index do |resource, i| %>

        <% if @unread_resources.first == resource || resource.language != @unread_resources[i-1].language %>
          <h4><%= resource.language.name %></h4>
        <% end %>

        <li>
          <a href="#" data-resource-id="<%= resource.id %>" data-user-info="<%= user_path(current_user) %>" onClick="resourceInfo(); return false"> <%= "#{resource.subfield.name} - #{resource.website} - #{resource.title}" %> </a>

          <div style="padding-left: 30px;" id="resource-<%= resource.id %>"></div>
        </li>
      <% end %>

      <% unless @read_resources.empty? %>
        <br><br><br><hr><br>
        <h2>read resources</h2>
        <% @read_resources.each_with_index do |resource, i| %>

          <% if @read_resources.first == resource || resource.language != @read_resources[i-1].language %>
            <h4><%= resource.language.name %></h4>
          <% end %>

          <li>
            <a href="#" data-resource-id="<%= resource.id %>" data-user-info="<%= user_path(current_user) %>" onClick="resourceInfo(); return false"> <%= "#{resource.subfield.name} - #{resource.website} - #{resource.title}" %> </a>
          <div style="padding-left: 30px;" id="resource-<%= resource.id %>"></div>
        </li>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>


<script type="text/javascript" charset="utf-8">
  function resourceInfo() {
    const resourceId = parseInt(event.target.dataset.resourceId);
    const userInfo = event.target.dataset.userInfo;
    const resourceDiv = document.getElementById("resource-" + resourceId)

    const liResources = $(".liResource")

    liResources.remove()

    const resourcesUrl = `http://localhost:3000${userInfo}/resources/${resourceId}`

    fetch(resourcesUrl)
      .then( response => response.json())
      .then( json => resourceDiv.innerHTML = resourceInfo(json))

    function resourceInfo(json) {
      return `<li class="liResource"><a href=${json.url} target="_blank">visit resource on ${json.website}</a></li><li class="liResource"><a href=${resourcesUrl}>more options</a></li>`
    }
  }
</script>
