<div class="main">
  <h1><%= @resource.website %> - <%= @resource.title %></h1>
  <h2><%= @resource.language.name %></h2>
  <% if @resource.subfield %>
    <h2><%= @resource.subfield.name %></h2>
  <% end %>

  <br><hr><br>

  <h3><%= link_to "visit resource", @resource.url, target: :_blank  %></h3>

  <% if session[:user_id] %>

    <h3><%= link_to "edit resource", edit_mentor_resource_path(current_user, @resource) %></h3>
  <% end %>

  <% if session[:student_id] %>

    <br><hr><br>

    <h3>have you read this resource?</h3>
    <br>
    <%= form_for @resource do |f| %>
      <p><%= f.label :read, "mark resource as read" %>
      <%= f.check_box :read %></p>
      <p><%= f.label :student_rating, "did you find this resource helpful?" %><p>
      <p><% [1, 2, 3, 4, 5, 6, 7, 8, 9, 10].each do |num| %>
        <%= f.label :student_rating, num %>
        <%= f.radio_button :student_rating, num %>
        <span style="color: white">|   |   |</span>
      <% end %></p><br><br>
      <%= f.submit "submit"%>
    <% end %>

  <% end %>
</div>
