<div class="main">
  <h1><%= @resource.website %> - <%= @resource.title %></h1>
  <h2><%= @resource.language.name %></h2>
  <% if @resource.subfield %>
    <h2><%= @resource.subfield.name %></h2>
  <% end %>

  <br><hr><br>

  <h3><%= link_to "visit resource", @resource.url %></h3>

  <!-- <h3><a href="#" onclick="nextResource()" data-user-path="<%= student_or_mentor_path(current_user) %>" data-id="<%= @resource.id %> ">next resource</h3> -->
</div>
