<div class="main">
  <h1>edit your profile</h1>

  <%= form_for user do |f|%>
    <p><%= f.label :first_name, "first name" %>
    <%= f.text_field :first_name %></p>

    <p><%= f.label :last_name, "last name" %>
    <%= f.text_field :last_name %></p>

    <p><%= f.label :username, "username" %>
    <%= f.text_field :username %></p>

    <p><%= f.label :email, "email" %>
    <%= f.text_field :email %></p>

    <p><%= f.label :profile_img, "profile picture (url)" %>
    <%= f.text_field :profile_img %></p>

    <p><%= f.label :location, "location" %>
    <%= f.text_field :location %></p>

    <p><%= f.label :github_link, "github link" %>
    <%= f.text_field :github_link %></p>

    <%= f.submit "update profile" %>
  <% end %>
</div>
