<% if !user.errors.empty? %>
  <div class="error_display">
    <ul>
      <% user.errors.full_messages.each do |error_msg| %>
        <li><%= error_msg %></li>
      <% end %>
    </ul>
  </div>

  <br>
<% end %>

<%= form_for user do |f|%>
<h4>choose account type</h4>
  <div class="signup_radio">
    <p>coach</p>
    <%= f.radio_button :user_type, "coach" %><br><br>
  </div>
  <div class="signup_radio">
    <p>student</p>
    <%= f.radio_button :user_type, "student"%><br><br>
  </div>
  <br>
  <hr>
  <br>
  <%= f.label :first_name, "first name" %>
  <%= f.text_field :first_name %><br><br>

  <%= f.label :last_name, "last name" %>
  <%= f.text_field :last_name %><br><br>

  <%= f.label :username, "username" %>
  <%= f.text_field :username %><br><br>

  <%= f.label :email, "email" %>
  <%= f.text_field :email %><br><br>

  <%= f.label :profile_img, "profile picture (url)" %>
  <%= f.text_field :profile_img %><br><br>

  <%= f.label :location, "location" %>
  <%= f.text_field :location %><br><br>

  <%= f.label :github_link, "github link" %>
  <%= f.text_field :github_link %><br><br>

  <%= f.label :password, "password" %>
  <%= f.password_field :password %><br><br>

  <%= f.label :password_confirmation, "confirm password" %>
  <%= f.password_field :password_confirmation %><br><br><br>

  <%= f.submit "sign up" %><br>
<% end %>
