<%= form_for user do |f|%>
  <p><%= f.label :first_name, "first name" %>
  <%= f.text_field :first_name %></p><br>

  <p><%= f.label :last_name, "last name" %>
  <%= f.text_field :last_name %></p><br>

  <p><%= f.label :username, "username" %>
  <%= f.text_field :username %></p><br>

  <p><%= f.label :email, "email" %>
  <%= f.text_field :email %></p><br>

  <p><%= f.label :profile_img, "profile picture (url)" %>
  <%= f.text_field :profile_img %></p><br>

  <p><%= f.label :location, "location" %>
  <%= f.text_field :location %></p><br>

  <p><%= f.label :github_link, "github link" %>
  <%= f.text_field :github_link %></p><br>

  <p><%= f.label :password, "password" %>
  <%= f.password_field :password %></p><br>

  <p><%= f.label :password_confirmation, "confirm password" %>
  <%= f.password_field :password_confirmation %></p><br><br>

  <%= f.submit "sign up" %><br>
<% end %>
