<div class="main">
  <img src=<%= current_user.profile_img %> width="125" height="125">
  <h1><%= current_user.username %></h1>
  <h3><%= current_user.location.downcase %></h3>
  <% if !current_user.github_link.empty? %>
  <h3><%= link_to "view #{current_user.first_name}'s github", current_user.github_link, target: "_blank" %></h3>
  <% end %>

  <br><br><hr>

  <h3>your programming languages</h3>
    <div id="languages" data-user-url="<%= user_path(current_user) %>"></div>
  <% if current_user.languages.empty? %>
    <p>you have not added any of your languages yet</p>
    <%= link_to "add language", new_or_delete_language_path %>
  <% else %>
    <%= link_to "add or delete languages", new_or_delete_language_path %>
  <% end %>
</div>


<script type="text/javascript" charset="utf-8">
  var currentUserUrl = 'http://localhost:3000<%= user_path(current_user) %>'

  var languagesDiv = document.getElementById("languages");

  fetch(currentUserUrl)
    .then( response => response.json())
    .then( response => languagesDiv.innerHTML = listOfLanguages(response.languages) )

  function listOfLanguages(languages) {
    const languagesList = languages.map(language => `<li>${language.name}</li>`)
    return `<ul>${languagesList.join("")}</ul>`
  }
</script>



<!-- <script type="application/json" src="languages.js"></script> -->
