<!DOCTYPE html>
<html>
  <head>
    <title>Code Mentor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Raleway:200,400');
      @import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700');
    </style>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="google-signin-client_id" content="ENV['GOOGLE_CLIENT_ID'].apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>

  <body>

    <header>
      <a href="/"><span style="color: white; padding-left: 20px">code</span><span style="color: rgb(101, 104, 102)">mentor</span></a>
    </header>

    <% if session_id && session[:mentor_id] %>

      <nav>
        <h4><%= link_to "home", mentor_path(current_user) %></h4>
        <h4><%= link_to "edit profile", edit_mentor_path(current_user) %></h4>
        <h4><%= link_to "my resources", mentor_resources_path(current_user) %></h4>
        <h4><%= link_to "add resource", new_mentor_resource_path(current_user) %></h4>
        <h4><%= link_to "top resources", top_resources_path %></h4>
        <% if !current_user.student.nil? %>
          <h4><%= link_to "my student", mentor_student_path(current_user) %></h4>
        <% end %>
        <h4><%= link_to "log out", logout_path %></h4>
      </nav>

    <% elsif session_id && session[:student_id] %>

      <nav>
        <h4><%= link_to "home", student_path(current_user) %></h4>
        <h4><%= link_to "edit profile", edit_student_path(current_user) %></h4>
        <% if current_user.mentor %>
          <h4><%= link_to "my resources", mentor_resources_path(current_user) %></h4>
        <% end %>
        <h4><%= link_to "top resources", top_resources_path %></h4>
        <% if current_user.mentor.nil? %>
          <h4><%= link_to "find a mentor", mentors_path %></h4>
        <% else %>
          <h4><%= link_to "my mentor", student_mentor_path(current_user) %></h4>
        <% end %>
        <h4><%= link_to "log out", logout_path %></h4>
      </nav>

    <% end %>

    <%= yield %>

    <% if session_id && session[:mentor_id] %>

      <div class="recent_resources_col">
        <h3>recently added resources</h3>
        <% if current_user.resources.empty? %>
          <p>You have not added any resources yet.</p>
          <%= link_to "Add Resource", new_mentor_resource_path(current_user) %>
        <% else %>
          <% current_user.resources.last(5).each do |resource| %>
          <p><%= link_to "#{resource.website} - #{resource.title}", mentor_resource_path(current_user, resource) %></p>
          <% end %>
        <% end %>
      </div>

    <% elsif session_id && session[:student_id] %>

      <% if current_user.mentor %>
        <div class="recent_resources_col">
          <h3>Recently Added Resources</h3>
          <% if current_user.mentor.resources.empty? %>
            <p><%= current_user.mentor.first_name %> has not added any resources yet.</p>
          <% else %>
            <% current_user.mentor.resources.last(5).each do |resource| %>
            <p><%= link_to "#{resource.website} - #{resource.title}", mentor_resource_path(current_user, resource) %></p>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>

  </body>

  <footer>
  </footer>
</html>
