<!DOCTYPE html>
<html>
  <head>
    <title>Code Mentor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Raleway:200,400');
      @import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700');
    </style>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="google-signin-client_id" content="ENV['GOOGLE_CLIENT_ID'].apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>


  <body>
    <header class="sans_serif">
      code<b>mentor</b>
    </header>
    <% if session_id && session[:mentor_id] %>
      <nav>
        <h4><%= link_to "home", mentor_path(current_user) %></h4>
        <h4><%= link_to "edit profile", edit_mentor_path(current_user) %></h4>
        <h4><%= link_to "my resources", mentor_resources_path(current_user) %></h4>
        <h4><%= link_to "add resource", new_mentor_resource_path(current_user) %></h4>
        <h4><%= link_to "top resources", top_resources_path %></h4>
        <% if !current_user.student.nil? %>
          <h4><%= link_to "my student", mentor_student_path(current_user) %></h4>
        <% end %>
        <h4><%= link_to "log out", logout_path %></h4>
      </nav>
    <% elsif session_id && session[:student_id] %>
      <nav>
        <h4><%= link_to "home", student_path(current_user) %></h4>
        <h4><%= link_to "edit profile", edit_student_path(current_user) %></h4>
        <% if current_user.mentor %>
          <h4><%= link_to "my resources", mentor_resources_path(current_user) %></h4>
        <% end %>
        <h4><%= link_to "top resources", top_resources_path %></h4>
        <% if current_user.mentor.nil? %>
          <h4><%= link_to "find a mentor", mentors_path %></h4>
        <% else %>
          <h4><%= link_to "my mentor", student_mentor_path(current_user) %></h4>
        <% end %>
        <h4><%= link_to "log out", logout_path %></h4>
      </nav>
    <% end %>
    <%= yield %>
  </body>

  <footer>
  </footer>
</html>
