<!DOCTYPE html>
<html>
  <head>
    <title>code coach</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Raleway:200,400');
      @import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700');
    </style>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="google-signin-client_id" content="ENV['GOOGLE_CLIENT_ID'].apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>

  <body>

    <header>
      <div id="logo"><a href="/""><span style="color: white; padding-left: 20px">code</span><span style="color: rgb(204, 217, 229); font-weight: bold;">coach</span></a></div>
    </header>

<% if session_id %>
  <nav>
    <%= render partial: 'application/nav' %>
  </nav>
<% end %>

<%= yield %>

<% if session_id && current_user_is_coach? %>
  <%= render partial: 'application/recent_resources', locals: {resources: current_user.resources, no_resources_message: "you have not added any resources yet"} %>
<% elsif session_id && current_user_is_student? %>
  <%= render partial: 'application/recent_resources', locals: {resources: current_user.coach.resources, no_resources_message: "your coach has not added any resources yet" } %>
<% end %>

  </body>

  <footer>

  </footer>
</html>

<!-- <script type="application/javascript" src="languages.js"></script> -->
