<!DOCTYPE html>
<html>
  <head>
    <title>Code Mentor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Code Mentor</h1>
    <%= yield %>
  </body>
  <footer>
    <% if session_id %>
      <%= link_to "Log Out", logout_path %>
    <% end %>
  </footer>
</html>
