<!DOCTYPE html>
<html>
  <head>
    <title>code coach</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Raleway:200,400');
      @import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700');
    </style>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="google-signin-client_id" content="ENV['GOOGLE_CLIENT_ID'].apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>

  <body>

<!-- codecoach header -->

    <header>
      <div id="logo"><a href="/""><span style="color: white; padding-left: 20px">code</span><span style="color: rgb(204, 217, 229); font-weight: bold;">coach</span></a></div>
    </header>

<!-- navigation bar if user is logged in -->

    <% if session_id && current_user.user_type %>
      <nav>
        <%= render partial: 'application/nav' %>
      </nav>
    <% end %>

<!-- individual page renders -->

    <%= yield %>

<!-- recent resources section if user is logged in with custom no resource messages -->

    <% if session_id && current_user_is_coach? %>
      <%= render partial: 'application/recent_resources', locals: {resources: current_user.resources, no_resources_message: "you have not added any resources yet"} %>

    <% elsif session_id && current_user_is_student? && current_user.coach %>
      <%= render partial: 'application/recent_resources', locals: {resources: current_user.coach.resources, no_resources_message: "you do not have any resources yet" } %>

      <% elsif session_id && current_user_is_student? && current_user.coach.nil? %>
        <%= render partial: 'application/recent_resources', locals: {resources: [], no_resources_message: "you do not have any resources yet" } %>
    <% end %>

<!-- footer section for logged in and logged out user -->

    <footer>
      <h6><%= mail_to "bryn.bennett@gmail.com", "contact"%></h6>
      <h6><%= link_to "about", about_path %></h6>
      <% if session_id %>
        <h6><%= link_to "my profile", user_path(current_user) %> </h6>
        <h6><%= link_to "log out", logout_path %></h6>
      <% else %>
        <h6><%= link_to "log in", login_path %> </h6>
        <h6><%= link_to "sign up", new_user_path %></h6>
      <% end %>
    </footer>

  </body>
</html>

<!-- <script type="application/javascript" src="languages.js"></script> -->
