<!DOCTYPE html>
<html>
  <head>
    <title>Code Mentor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="google-signin-client_id" content="ENV['GOOGLE_CLIENT_ID'].apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>

  <body>
    <h1>Code Mentor</h1>
    <% if session_id && session[:mentor_id] %>
      <nav>
        <%= link_to "Home", mentor_path(current_user) %>
        <%= link_to "Edit Profile", edit_mentor_path(current_user) %>
        <%= link_to "My Resources", mentor_resources_path(current_user) %>
        <%= link_to "Add Resource", new_mentor_resource_path(current_user) %>
        <p> My student </p>
        <%= link_to "Log Out", logout_path %>
    <% end %>
    <%= yield %>
  </body>

  <footer>
  </footer>
</html>
